<div class="mhi-container">
  <h1 class="welcome-heading">Welcome to Angular Project</h1>
  <ul>
    <li [routerLink]="['/rxjs-observable']">Rxjs Observable</li>
  </ul>
</div>

<!-- Embedded views are linked to templates whereas Host views are linked to components. -->

<!-- <ul>
  <li routerLinkActive="active-link" [routerLink]="['/main']">Home</li>
  <li routerLinkActive="active-link" [routerLink]="['/about']">About</li>
  <li routerLinkActive="active-link" [routerLink]="['/contact']">Contact</li>
</ul> -->

<!-- <div class="loader">
  <div class="lds-ring">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div> -->